* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3d7c50;
    color: #fff;
    font: 20pt normal;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #031b0b;
}

a:hover {
    color: #0d471e;
}

h1, h2 {
    font-family: 'Ubuntu', sans-serif;
}

input, button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 15px;
    border: none;
    padding: 8px;
    width:150px;
    height: 50px;
}

input:focus {
    outline-color: #3d7c50;
}

button {
    background-color: #031b0b;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: #0d471e;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.title {
    text-align: center;
}

.box-formulario {
    margin-top: 50px;
    text-align: center;
}

.bottom {
    margin-top: 100px;
}

.success {
    margin-top: 50px;
    padding: 8px;
    background-color: green;
    display: none   ;
}

.error {
    margin-top: 10px;
    color: #aa0707;
    font-size: 16px;
    font-weight: bold;
    display: none;
}